@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@layer components {
  ._btn {
    @apply p-1 text-center text-zinc-500 dark:text-zinc-400 hover:bg-zinc-300 dark:hover:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:focus:ring-zinc-700 rounded-lg text-sm inline-flex items-center;
  }
}
@tailwind utilities;

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgb(255 255 255);
  background-image: radial-gradient(rgba(85, 85, 85, 0.3) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.dark {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgb(24 24 27);
  background-image: radial-gradient(rgba(85, 85, 85, 0.3) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.reveal-image {
  animation-name: mask-animation;
  animation-duration: 2.5s;
}

@keyframes mask-animation {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
      400% no-repeat;
    opacity: 0.2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
      no-repeat;
    opacity: 1;
  }
}

.blob {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-image: url("/no-bg-avatar.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
  -webkit-animation: blob 10s linear 0s infinite;
  animation: blob 10s linear 0s infinite;
  image-rendering: pixelated;
  filter: blur(1px);
}

.blob:hover {
  filter: blur(0px);
}

@keyframes blob {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 70% 30% 32% 68% / 30% 30% 70% 70%;
  }
  50% {
    border-radius: 50% 50% 32% 68% / 55% 24% 76% 45%;
  }
  75% {
    border-radius: 28% 72% 57% 43% / 79% 24% 76% 21%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.btn-gradient {
  border: 1px solid transparent;
  background: padding-box linear-gradient(rgb(4 6 22), rgb(4 6 22)),
    border-box linear-gradient(rgb(86 77 168), rgb(86 77 168 / 0.1));
}
